<section id="minimal-statistics-bg">
<div class="row" matchHeight="card">
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3 py-3">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="mb-1 danger">4</h3>
              <span>Bookings</span>
            </div>
            <div class="media-right align-self-center">
              <i class="icon-calendar danger font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3 py-3">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="mb-1 success">36</h3>
              <span>Travel Agencies</span>
            </div>
            <div class="media-right align-self-center">
              <i class="icon-globe success font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3 py-3">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="mb-1 primary">$11,600</h3>
              <span>Revenue Earned</span>
            </div>
            <div class="media-right align-self-center">
              <i class="icon-users primary font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3 py-3">
          <div class="media">
            <div class="media-body text-left">
              <h3 class="mb-1 warning">$870</h3>
              <span>Commission Paid</span>
            </div>
            <div class="media-right align-self-center">
              <i class="icon-pie-chart warning font-large-2 float-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Minimal statistics with bg color section start -->
<section id="minimal-statistics-bg">
	<div class="row">
		<div class="col-12 mt-3 mb-1">
			<div class="content-header">Monthly Bookings </div>
			<p class="content-sub-header">Graph of montly bookings</p>
		</div>
  </div>
  
  <!-- Line Chart Starts -->
<!-- <div class="row">
    <div class="col-sm-12">
        <div class="content-header">ChartJS</div>
        <p class="content-sub-header">Chart.js can be used with ES6 modules, plain JavaScript and module loaders.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Line Chart</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="height-400">
                            <canvas height="400" baseChart class="chart" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                            [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Line Chart Ends -->

</section>
<!-- // Minimal statistics with bg color section end -->


