<app-navbar></app-navbar>

<!-- Form actions layout section start -->
<section id="form-action-layouts">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                        <button
                        (click)="login()" 
                        type="button"
                        class="btn  btn-raised btn-primary"><i class="fa fa-google"></i> Sign Up with Google</button>
                 </div>
                 <div class="card-body">
                    <div class="px-3">
                        <form class="form">
                          <div class="form-body">
                            <h4 class="form-section"><i class="ft-lock"></i> Sign In</h4>
                            <div *ngIf="invalidLogin" class="alert alert-danger">
                                <span>Invalid Credentials</span>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 mb-2">
                                    <label for="projectinput3">E-mail</label>
                                    <input type="email" id="projectinput3" class="form-control" placeholder="E-mail" name="email">
                                </div>
                                <div class="form-group col-md-12 mb-2">
                                    <label for="projectinput4">Password</label>
                                    <input type="password" id="projectinput4" class="form-control" placeholder="Password" name="pswrd">
                                </div>
                            </div>
                          </div>

                          <button type="submit" class="btn btn-raised btn-primary">
                              <i class="fa fa-check-square-o"></i> Sign In
                          </button>

                          
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
  </section>
  <!-- // Form actions layout section end -->