<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/expedia.png">
                <h5 class="card-title">Expedia</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">www.expedia.com</p>
                    
                </div>
            </div>
            <div class="card-footer">
                <span class="text-muted">Activity</span>
                <span class="text-muted">Connect</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        
        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/veltra.png">
                <h5 class="card-title">Veltra</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">www.veltra.com</p>
                    
                </div>
            </div>
            <div class="card-footer">
                <span class="text-muted">Activity</span>
                <span class="text-muted">Connect</span>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/musement.png">
                <h5 class="card-title">Musement</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">www.musement.com</p>
                    
                </div>
            </div>
            <div class="card-footer">
                <span class="text-muted">Activity</span>
                <span class="text-muted">Connect</span>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/adventure-free.png">
                <h5 class="card-title">Expedia</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">www.adventure-free.com</p>
                    
                </div>
            </div>
            <div class="card-footer">
                <span class="text-muted">Activity</span>
                <span class="text-muted">Connect</span>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/expedia.png">
                <h5 class="card-title">Expedia</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">www.expedia.com</p>
                    
                </div>
            </div>
            <div class="card-footer">
                <span class="text-muted">Activity</span>
                <span class="text-muted">Connect</span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        
        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/city-tours.png">
                <h5 class="card-title">City Tours</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">www.city-tours.com</p>
                    
                </div>
            </div>
            <div class="card-footer">
                <span class="text-muted">Activity</span>
                <span class="text-muted">Connect</span>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/seeing.png">
                <h5 class="card-title">Sightseeing Pass Australia</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">www.sightseeingpassaustralia.com</p>
                    
                </div>
            </div>
            <div class="card-footer">
                <span class="text-muted">Activity</span>
                <span class="text-muted">Connect</span>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/expedia.png">
                <h5 class="card-title">Expedia</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">www.expedia.com</p>
                    
                </div>
            </div>
            <div class="card-footer">
                <span class="text-muted">Activity</span>
                <i class="icon-signal success font-large-2 float-right"></i>
                <span class="text-muted">Connect</span>
            </div>
        </div>
        
    </div>
</div>