<div class="row">
    <div class="col-12">
        <div class="content-header">Travel Agencies</div>
        <p class="content-sub-header">Sell your tours on any of the 36 travel agencies below</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/expedia.png">
                <h5 class="card-title">Expedia</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Globally</p>
                    <p class="card-text">www.expedia.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/veltra.png">
                <h5 class="card-title">Veltra</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Japan</p>
                    <p class="card-text">www.veltra.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/musement.png">
                <h5 class="card-title">Musement</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Italy</p>
                    <p class="card-text">www.musement.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/adventure-free.png">
                <h5 class="card-title">Adventure Free</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Australia</p>
                    <p class="card-text">www.adventure-free.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/tripadvisor.png">
                <h5 class="card-title">TripAdvisor</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Globally</p>
                    <p class="card-text">www.tripadvisor.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/city-tours.png">
                <h5 class="card-title">Citytour.com</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Republic of Korea</p>
                    <p class="card-text">www.citytour.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/seeing.png">
                <h5 class="card-title">Sightseeing Pass Australia</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Australia</p>
                    <p class="card-text">www.sightseeingpassaustralia.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/viator.png">
                <h5 class="card-title">Viator</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Globally</p>
                    <p class="card-text">www.viator.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>
</div>


<div class="row">

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/getyourguide.png">
                <h5 class="card-title">Get Your Guide</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Germany</p>
                    <p class="card-text">www.getyourguide.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/48504/rezdy_tb.jpg">
                <h5 class="card-title">Experee</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targeting UK</p>
                    <p class="card-text">www.experee.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-5.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/21328/Enjoyaus_logo_tb.png">
                <h5 class="card-title">Equity Travel</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targeting Australia</p>
                    <p class="card-text">www.enjoyaus.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-5.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="../assets/img/otas/ctrip.png">
                <h5 class="card-title">CTrip</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting China</p>
                    <p class="card-text">www.ctrip.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/46122/logo_tb.png">
                <h5 class="card-title">Aoliday</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Australia</p>
                    <p class="card-text">www.itrip.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/28560/Tours4funimages_tb.jpg">
                <h5 class="card-title">Tours4Fun</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targetting USA</p>
                    <p class="card-text">www.tours4fun.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/68816/Visit___Go_tb.png">
                <h5 class="card-title">Visit &amp; Go</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targeting Spain</p>
                    <p class="card-text">www.visitngo.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-4.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/26112/Leezair_tb.png">
                <h5 class="card-title">Leezair Experiences</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Australia</p>
                    <p class="card-text">www.leezair.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/75017/itl_04_6676_ver_24_tb.jpg">
                <h5 class="card-title">ITRAV Local</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting USA</p>
                    <p class="card-text">www.skyitl.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-5.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/20399/300X150_tb.png">
                <h5 class="card-title">Thrill Experiences</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targetting Australia</p>
                    <p class="card-text">www.thrillexperiences.com.au</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/14398/hobart%20download_tb.jpg">
                <h5 class="card-title">Hobart Travel Center</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targeting Australia</p>
                    <p class="card-text">www.hobarttravelcentre.com.au</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/53424/4526c00706c74c1991bfa0603dfd2263Ticketsandtours_tb.png">
                <h5 class="card-title">Tickets &amp; Tours</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Australia</p>
                    <p class="card-text">www.ticketsandtours.com.au</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-5.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/56822/gopackup1_tb.jpg">
                <h5 class="card-title">Gopackup</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting USA</p>
                    <p class="card-text">www.gopackup.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/14353/awesomelogo12-6_tb.jpg">
                <h5 class="card-title">Awesone Adventures</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targetting USA</p>
                    <p class="card-text">www.awesomeadventures.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-4.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/25704/Logo_GuideandGo_Square_Facebook_tb.png">
                <h5 class="card-title">Guide &amp; Go</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targeting Netherland</p>
                    <p class="card-text">www.guideandgo.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/20896/ex download_tb.jpg">
                <h5 class="card-title">Excursiopedia</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Germany</p>
                    <p class="card-text">www.excursiopedia.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/21239/%20TripTide%20Australia_tb.png">
                <h5 class="card-title">TripTide Australia</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting UK &amp; Australia</p>
                    <p class="card-text">www.triptide.com.au</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-5.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/25764/hbg_logo_pos_tb.png">
                <h5 class="card-title">Hotelbeds Group</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targetting Spain</p>
                    <p class="card-text">www.activitiesbank.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/33406/tr_main_256_web_tb.png">
                <h5 class="card-title">TourRadar</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targeting Austria</p>
                    <p class="card-text">www.tourradar.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/33279/viva_logo-02_tb.jpg">
                <h5 class="card-title">VIVAster</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Ireland</p>
                    <p class="card-text">www.vivasterltd.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/20944/Ceetiz_tb.png">
                <h5 class="card-title">Ceetiz</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting France</p>
                    <p class="card-text">www.ceetiz.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/20396/CD-Logo-DS3-with-blue-background_square_tb.jpg">
                <h5 class="card-title">City Discovery</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targetting USA</p>
                    <p class="card-text">www.citydiscovery.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/33424/imPQwcY__tb.jpg">
                <h5 class="card-title">Haiwan</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targeting China</p>
                    <p class="card-text">www.haiwan.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-6.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/26587/aba9a887c22444f98c68baafb6b749f5tly_logo-full-pink_tb.png">
                <h5 class="card-title">Touristly</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Malaysia</p>
                    <p class="card-text">www.touristly.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/21084/cloud9_tb.jpg">
                <h5 class="card-title">Cloud9 Living</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting USA</p>
                    <p class="card-text">www.cloud9living.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-2.svg" width="100"
                    height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/31193/Copy%20of%20rushon_redbord_tb.jpg">
                <h5 class="card-title">RushOn</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targetting USA</p>
                    <p class="card-text">www.rushon.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/22097/sign_tb.png">
                <h5 class="card-title">Guide Advisor</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <i class="icon-signal success font-large-2 float-right"></i>
                <div class="card-block">
                    <p class="card-text">Targeting USA</p>
                    <p class="card-text">www.guideadvisor.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.rezdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <img class="card-img-top" src="https://img.rezdy.com/LOGO/24554/bmgnew_logo1_tb.png">
                <h5 class="card-title">BeMyGuest</h5>
            </div>
            <div class="card-body" aria-expanded="true">
                <div class="card-block">
                    <p class="card-text">Targeting Singapore</p>
                    <p class="card-text">www.bemyguest.com</p>

                </div>
            </div>
            <div class="card-footer">
                <img class="card-img-small" src="https://static.re0zdy.com/1528264864115/themes/rezdyv2/images/booking-activity-level-1.svg"
                    width="100" height="20">
                <a href="http://localhost:4200/market-place/agents" class="btn btn-flat btn-primary">Connect</a>
            </div>
        </div>

    </div>

</div>