<div class="row" matchHeight ="card">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Version 1.0</h4>
				
			</div>
			<div class="card-body">
				<div class="card-block">
					<p><span class="text-bold-600 mt-2">Minimum Viable Product</span></p>
					<ol>
						<li>User Account Management</li>
						<li>Business Profile Management</li>
						<li>Tours Inventory Management</li>
						<li>Access Marketplace Insights</li>
						<li>Choose Marketplace</li>
						<li>Distribute Tours Listings</li>
						<li>Social Media Posts Management</li>
						<li>Bookings Management</li>
						<li>Bookings Data Visualization</li>
						<li>Marketplace Analytics</li>

					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
