<!--Extended Table starts-->
<div class="row">
  <div class="col-12">
      <div class="content-header">Bookings</div>
      <p class="content-sub-header">Manage Several Online Travel Agency Bookings</p>
  </div>
</div>
<section id="extended">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header">
                  <!-- <h4 class="card-title">Search & Filter</h4> -->
              </div>
              <div class="card-body">
                  <div class="card-block">
                      <table class="table table-responsive text-center">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th></th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th>Gender</th>
                                  <th>Email</th>
                                  <th>Channel</th>
                                  <th>Actions</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>
                                      <label class="custom-control custom-checkbox m-0">
                                          <input type="checkbox" class="custom-control-input">
                                          <span class="custom-control-indicator"></span>
                                      </label>
                                  </td>
                                  <td>John</td>
                                  <td>Carter</td>
                                  <td>Male</td>
                                  <td>johncarter@mail.com</td>
                                  <td>Expedia</td>
                                  <td>
                                      <a class="info p-0" data-original-title="" title="">
                                          <i class="ft-user font-medium-3 mr-2"></i>
                                      </a>
                                      <a class="success p-0" data-original-title="" title="">
                                          <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                      </a>
                                      <a class="danger p-0" data-original-title="" title="">
                                          <i class="ft-trash font-medium-3 mr-2"></i>
                                      </a>
                                  </td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>
                                      <label class="custom-control custom-checkbox m-0">
                                          <input type="checkbox" class="custom-control-input">
                                          <span class="custom-control-indicator"></span>
                                      </label>
                                  </td>
                                  <td>Peter</td>
                                  <td>Parker</td>
                                  <td>Male</td>
                                  <td>peterparker@mail.com</td>
                                  <td>TripAdvisor</td>
                                  <td>
                                      <a class="info p-0" data-original-title="" title="">
                                          <i class="ft-user font-medium-3 mr-2"></i>
                                      </a>
                                      <a class="success p-0" data-original-title="" title="">
                                          <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                      </a>
                                      <a class="danger p-0" data-original-title="" title="">
                                          <i class="ft-trash font-medium-3 mr-2"></i>
                                      </a>
                                  </td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>
                                      <label class="custom-control custom-checkbox m-0">
                                          <input type="checkbox" class="custom-control-input">
                                          <span class="custom-control-indicator"></span>
                                      </label>
                                  </td>
                                  <td>John</td>
                                  <td>Rambo</td>
                                  <td>Male</td>
                                  <td>johnrambo@mail.com</td>
                                  <td>GetYourQuide</td>
                                  <td>
                                      <a class="info p-0" data-original-title="" title="">
                                          <i class="ft-user font-medium-3 mr-2"></i>
                                      </a>
                                      <a class="success p-0" data-original-title="" title="">
                                          <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                      </a>
                                      <a class="danger p-0" data-original-title="" title="">
                                          <i class="ft-trash font-medium-3 mr-2"></i>
                                      </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Extended Table Ends-->