<div class="row">
  <div class="col-12">
    <div class="content-header">Social Media</div>
    <p class="content-sub-header">Manage all your social media accounts here.</p>
  </div>
</div>

<a class="btn btn-social btn-min-width mr-2 mb-2 btn-facebook">
  <span class="fa fa-facebook"></span>Post to Facebook
</a>

<a class="btn btn-social btn-min-width mr-2 mb-2 btn-instagram">
  <span class="fa fa-instagram"></span>Post to Instagram
</a>

<a class="btn btn-social btn-min-width mr-2 mb-2 btn-twitter">
  <span class="fa fa-twitter"></span>Post to Twitter
</a>

<a class="btn btn-social btn-min-width mr-2 mb-2 btn-linkedin">
  <span class="fa fa-linkedin"></span>Post to LinkedIn
</a>

<fieldset class="form-group">
  <textarea class="form-control" id="placeTextarea" rows="6" placeholder="Post to Social Media"></textarea>
</fieldset>

<a href="http://localhost:4200/market-place/social-media" class="btn btn-raised btn-primary">Publish Post</a>