<div class="row">
  <div class="col-12">
    <div class="content-header">Social Media</div>
    <p class="content-sub-header">Manage all your social media accounts here.</p>
  </div>
</div>

<a class="btn btn-social btn-min-width mr-2 mb-2 btn-facebook">
  <span class="fa fa-facebook"></span>Post to Facebook
</a>

<a class="btn btn-social btn-min-width mr-2 mb-2 btn-instagram">
  <span class="fa fa-instagram"></span>Post to Instagram
</a>

<a class="btn btn-social btn-min-width mr-2 mb-2 btn-twitter">
  <span class="fa fa-twitter"></span>Post to Twitter
</a>

<a class="btn btn-social btn-min-width mr-2 mb-2 btn-linkedin">
  <span class="fa fa-linkedin"></span>Post to LinkedIn
</a>

<fieldset class="form-group">
  <label for="placeTextarea">Create Post</label>
  <textarea class="form-control" id="placeTextarea" rows="6" placeholder="Post to Social Media"></textarea>
</fieldset>

<div class="position-relative has-icon-right">
  <input type="text" class="form-control" name="form-control-with-icon">
  <div class="form-control-position">
    <i class="fa-camera"></i>
  </div>
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <span class="fa fa-calendar-o"></span>
    </span>
  </div>
  <input type="text" class="form-control pickadate picker__input picker__input--active" placeholder="Basic Pick-a-date" readonly=""
    id="P1663447308" aria-haspopup="true" aria-expanded="true" aria-readonly="false" aria-owns="P1663447308_root">
  <div class="picker" id="P1663447308_root" aria-hidden="true">
    <div class="picker__holder" tabindex="-1">
      <div class="picker__frame">
        <div class="picker__wrap">
          <div class="picker__box">
            <div class="picker__header">
              <div class="picker__month">June</div>
              <div class="picker__year">2018</div>
              <div class="picker__nav--prev" data-nav="-1" role="button" aria-controls="P1663447308_table" title="Previous month">
              </div>
              <div class="picker__nav--next" data-nav="1" role="button" aria-controls="P1663447308_table" title="Next month">
              </div>
            </div>
            <table class="picker__table" id="P1663447308_table" role="grid" aria-controls="P1663447308" aria-readonly="true">
              <thead>
                <tr>
                  <th class="picker__weekday" scope="col" title="Sunday">Sun</th>
                  <th class="picker__weekday" scope="col" title="Monday">Mon</th>
                  <th class="picker__weekday" scope="col" title="Tuesday">Tue</th>
                  <th class="picker__weekday" scope="col" title="Wednesday">Wed</th>
                  <th class="picker__weekday" scope="col" title="Thursday">Thu</th>
                  <th class="picker__weekday" scope="col" title="Friday">Fri</th>
                  <th class="picker__weekday" scope="col" title="Saturday">Sat</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1527379200000" role="gridcell" aria-label="27 May, 2018">27</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1527465600000" role="gridcell" aria-label="28 May, 2018">28</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1527552000000" role="gridcell" aria-label="29 May, 2018">29</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1527638400000" role="gridcell" aria-label="30 May, 2018">30</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1527724800000" role="gridcell" aria-label="31 May, 2018">31</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1527811200000" role="gridcell" aria-label="1 June, 2018">1</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1527897600000" role="gridcell" aria-label="2 June, 2018">2</div>
                  </td>
                </tr>
                <tr>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1527984000000" role="gridcell" aria-label="3 June, 2018">3</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1528070400000" role="gridcell" aria-label="4 June, 2018">4</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1528156800000" role="gridcell" aria-label="5 June, 2018">5</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1528243200000" role="gridcell" aria-label="6 June, 2018">6</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1528329600000" role="gridcell" aria-label="7 June, 2018">7</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1528416000000" role="gridcell" aria-label="8 June, 2018">8</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1528502400000" role="gridcell" aria-label="9 June, 2018">9</div>
                  </td>
                </tr>
                <tr>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1528588800000" role="gridcell" aria-label="10 June, 2018">10</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1528675200000" role="gridcell" aria-label="11 June, 2018">11</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1528761600000" role="gridcell" aria-label="12 June, 2018">12</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus picker__day--today picker__day--highlighted" data-pick="1528848000000"
                      role="gridcell" aria-label="13 June, 2018" aria-activedescendant="true">13</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1528934400000" role="gridcell" aria-label="14 June, 2018">14</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529020800000" role="gridcell" aria-label="15 June, 2018">15</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529107200000" role="gridcell" aria-label="16 June, 2018">16</div>
                  </td>
                </tr>
                <tr>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529193600000" role="gridcell" aria-label="17 June, 2018">17</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529280000000" role="gridcell" aria-label="18 June, 2018">18</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529366400000" role="gridcell" aria-label="19 June, 2018">19</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529452800000" role="gridcell" aria-label="20 June, 2018">20</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529539200000" role="gridcell" aria-label="21 June, 2018">21</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529625600000" role="gridcell" aria-label="22 June, 2018">22</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529712000000" role="gridcell" aria-label="23 June, 2018">23</div>
                  </td>
                </tr>
                <tr>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529798400000" role="gridcell" aria-label="24 June, 2018">24</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529884800000" role="gridcell" aria-label="25 June, 2018">25</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1529971200000" role="gridcell" aria-label="26 June, 2018">26</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1530057600000" role="gridcell" aria-label="27 June, 2018">27</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1530144000000" role="gridcell" aria-label="28 June, 2018">28</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1530230400000" role="gridcell" aria-label="29 June, 2018">29</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--infocus" data-pick="1530316800000" role="gridcell" aria-label="30 June, 2018">30</div>
                  </td>
                </tr>
                <tr>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1530403200000" role="gridcell" aria-label="1 July, 2018">1</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1530489600000" role="gridcell" aria-label="2 July, 2018">2</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1530576000000" role="gridcell" aria-label="3 July, 2018">3</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1530662400000" role="gridcell" aria-label="4 July, 2018">4</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1530748800000" role="gridcell" aria-label="5 July, 2018">5</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1530835200000" role="gridcell" aria-label="6 July, 2018">6</div>
                  </td>
                  <td role="presentation">
                    <div class="picker__day picker__day--outfocus" data-pick="1530921600000" role="gridcell" aria-label="7 July, 2018">7</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="picker__footer">
              <button class="picker__button--today" type="button" data-pick="1528848000000" aria-controls="P1663447308" disabled="disabled">Today</button>
              <button class="picker__button--clear" type="button" data-clear="1" aria-controls="P1663447308"
                disabled="disabled">Clear</button>
              <button class="picker__button--close" type="button" data-close="true" aria-controls="P1663447308"
                disabled="disabled">Close

              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>