<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-light bg-faded">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle d-lg-none float-left" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <form class="navbar-form navbar-right mt-1" role="search">
                    <div class="position-relative has-icon-right">
                        <input type="text" class="form-control round" placeholder="Search">
                        <div class="form-control-position">
                            <i class="ft-search"></i>
                        </div>
                    </div>
                </form>
            </div>

            <div class="navbar-container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                        <li *ngIf="!user" class="nav-item">
                            <a class="nav-link position-relative" routerLink="/providers">
                                <span class="font-medium-1 blue-grey darken-4">Tour Operators</span>
                            </a>
                        </li>
                        
                        <li *ngIf="!user" class="nav-item">
                            <a class="nav-link position-relative" routerLink="/how-it-works">
                                <span class="font-medium-1 blue-grey darken-4">How It Works</span>
                            </a>
                        </li>

                        <li *ngIf="!user" class="nav-item">
                            <a class="nav-link position-relative" routerLink="/experiences">
                                <span class="font-medium-1 blue-grey darken-4">Get Intouch</span>
                            </a>
                        </li>
                        
                        <li *ngIf="!user" class="nav-item">
                            <a class="nav-link position-relative" routerLink="/signup">
                                <span class="font-medium-1 blue-grey darken-4">Sign Up</span>
                            </a>
                        </li>


                        


                        <li *ngIf="user" class="nav-item" ngbDropdown placement="bottom-right">
                            <a class="nav-link position-relative" id="dropdownBasic2" ngbDropdownToggle>
                                <i class="ft-bell font-medium-3 blue-grey darken-4"></i>
                                <span class="notification badge badge-pill badge-danger">3</span>
                                <p class="d-none">Notifications</p>
                            </a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="notification-dropdown">
                                <div class="noti-list">
                                    <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4" routerLink="/tour-operators/create-profile">
                                        <i class="ft-bell info float-left d-block font-large-1 mt-1 mr-2"></i>
                                        <span class="noti-wrapper">
                                            <span class="noti-title line-height-1 d-block text-bold-400 info">Business Profile</span>
                                            <span class="noti-text">Create Your Business Profile</span>
                                        </span>
                                    </a>
                                    <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4" routerLink="/inventory/new-tour">
                                        <i class="ft-bell warning float-left d-block font-large-1 mt-1 mr-2"></i>
                                        <span class="noti-wrapper">
                                            <span class="noti-title line-height-1 d-block text-bold-400 warning">Tours Inventory</span>
                                            <span class="noti-text">Create Your Tours Now!</span>
                                        </span>
                                    </a>
                                    <a class="dropdown-item noti-container py-3 border-bottom border-bottom-blue-grey border-bottom-lighten-4" routerLink="/market-place/agents">
                                        <i class="ft-bell danger float-left d-block font-large-1 mt-1 mr-2"></i>
                                        <span class="noti-wrapper">
                                            <span class="noti-title line-height-1 d-block text-bold-400 danger">Distribution Channels</span>
                                            <span class="noti-text">Select Channels & Start Selling!</span>
                                        </span>
                                    </a>
                                </div>
                                <a class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1">Read All Notifications</a>
                            </div>
                        </li>

                        <li *ngIf="user" class="nav-item" ngbDropdown placement="bottom-right">
                            <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
                                <i class="ft-user font-medium-3 blue-grey darken-4"></i>
                                <p class="d-none">User Settings</p>
                            </a>

                            <!-- <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
                                <span class="avatar avatar-md avatar-online">
                                    <img class="media-object d-flex mr-3 bg-primary height-50  rounded-circle" [title]="user.displayName" [src]="user.photoURL" [alt]="user.displayName">
                                    <span class="notification badge badge-pill badge-danger">4</span>
                                </span>
                            </a> -->

                            <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                                <!-- <a class="dropdown-item py-1" href="javascript:;">
                                    <i class="ft-settings mr-2"></i>
                                    <span>Dashboard</span>
                                </a> -->
                                <a class="dropdown-item py-1" routerLink="/tour-operators/profile">
                                    <i class="ft-edit mr-2"></i>
                                    <span>Edit Profile</span>
                                </a>
                                <!-- <a class="dropdown-item py-1" href="javascript:;">
                                    <i class="ft-mail mr-2"></i>
                                    <span>My Inbox</span>
                                </a> -->
                                <div class="dropdown-divider"></div>
                                <a 
                                (click)="logOutFromGoogle()"
                                class="dropdown-item">
                                    <i class="ft-power mr-2"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar (Header) Ends -->
