<app-navbar></app-navbar>

<div class="row">
	<div class="col-12">
	   		<!-- Kick start -->
		<div id="kick-start" class="card">
			<div class="card-header">
				<h4 class="card-title">ziara</h4>
			</div>
			<div class="card-body">
				<div class="card-block">
					<div class="card-text">
              <h5>Unique African experiences to the world</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						
					</div>
				</div>
			</div>
		</div>
		<!--/ Kick start -->
	</div>
</div>
