
<!-- Wizard Starts -->
<div class="row">
  <div class="col-sm-12">
      <div class="content-header">Tour Operator</div>
  </div>
</div>
<section id="icon-tabs">
<div class="row">
  <div class="col-12">

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Business Profile</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <form class="icons-tab-steps wizard-circle .wizard-circle" #f="ngForm" (submit)="postBusinessProfile(f.value)">
            <!-- Step 1 -->
            <h6>Overview</h6>
            <fieldset>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input ngModel name="companyName" #companyName="ngModel" type="text" class="form-control" id="companyName" >
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="description">Description</label>
                    <textarea ngModel name="description" #description="ngModel" id="description" rows="4" class="form-control"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="logoUrl">Logo Url</label>
                    <input ngModel name="logoUrl" #logoUrl="ngModel" type="text" class="form-control" id="logoUrl" >
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="businessType">Select Type of Business</label>
                    <select ngModel name="businessType" #businessType="ngModel" class="custom-select form-control" id="businessType" >
                      <option select="selected">Select Type</option>
                      <option value="Tour Operator">Tour Operator</option>
                      <option value="Travel Agent">Travel Agent</option>
                    </select>
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Step 2 -->
            <h6>Legal</h6>
            <fieldset>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="businessResgistration">Business Registration Number</label>
                    <input ngModel name="businessResgistration" #businessResgistration="ngModel" ngModel type="text" class="form-control" id="businessResgistration">
                  </div>
                  <div class="form-group">
                    <label for="associationNumber">Association Membership Number</label>
                    <input type="text" ngModel name="associationNumber" #associationNumber="ngModel" class="form-control" id="associationNumber">
                  </div>
                  <div class="form-group">
                    <label for="associationCategory">Association Membership Category</label>
                    <input type="text" ngModel name="associationCategory" #associationCategory="ngModel"  class="form-control" id="associationCategory">
                  </div>
                </div>
              </div>
            </fieldset>
            <!-- Step 3 -->
            <h6>Contact</h6>
            <fieldset>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="telephone">Telephone Number</label>
                    <input type="text" ngModel name="telephone" #telephone="ngModel" class="form-control" id="telephone" >
                  </div>
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input ngModel  type="email" name="email" #email="ngModel" class="form-control" id="email" >
                  </div>
                  <div class="form-group">
                    <label for="websiteUrl">Website Address</label>
                    <input ngModel type="url" name="websiteUrl" #websiteUrl="ngModel" class="form-control" id="websiteUrl" >
                  </div>
                  <div class="form-group">
                    <label for="facebook">Facebook</label>
                    <input ngModel #facebook="ngModel" type="url" class="form-control" id="facebook" name="facebook">
                  </div>
                  <div class="form-group">
                      <label for="twitter">Twitter</label>
                      <input type="url" ngModel #twitter="ngModel" class="form-control" id="twitter" name="twitter">
                    </div>
                </div>
              </div>
            </fieldset>
            <!-- Step 4 -->
            <h6>Location</h6>
            <fieldset>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="country">Country</label>
                    <input ngModel type="text"  #country="ngModel" class="form-control" id="country" name="country">
                  </div>
                  <div class="form-group">
                    <label for="city">City</label>
                    <input ngModel type="text" #city="ngModel" class="form-control" id="city" name="city">
                  </div>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <textarea ngModel name="address" #address="ngModel" id="address" rows="4" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </fieldset>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Wizard Ends -->

